<div menu></div>
<div header></div> 
  <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
           
           

            <div class="row">
             

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Reserva Areas</small></h2>
                    <h2>{{$parent.id}}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      
                      
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                       <div ng-controller="controlarTareas">
                    <div class="col-md-10 col-offset-md-1">  
                    <br/>
                    <!--<form class="form-horizontal form-label-left" ng-submit="insertarReserva()">-->
                          <form class="form-horizontal form-label-left" ng-submit="agregarTarea()">
                               
                       
                      
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input id="fecha" type="date" class="form-control" placeholder="Default Input"  ng-model="fecha" required>
                        </div>
                      </div>  
                        
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">DESDE</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input id="desde" type="time" class="form-control" placeholder="Default Input" min="00:00"
                                 max="22:00" step="3600"  ng-model="desde" required>
                        </div>
                      </div> 
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">HASTA</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input id="hasta" type="time" class="form-control" placeholder="Default Input" min="00:00"
                                 max="22:00" step="3600"  ng-model="hasta" required>
                        </div>
                      </div> 
                        
                                       
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">ESTADO</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input value="" id="estado" type="text" class="form-control"  readonly="readonly" placeholder="Libre"   ng-model="estado" required>
                            <!-- <input id="estado" type="text" class="form-control" placeholder="{{somePlaceholder}}" value="Libre" readonly="readonly" placeholder="Libre" ng-model="estado">-->
                        </div>
                      </div>
                        
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Area</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select  class="form-control" ng-model="area">
                          
                            <option ng-repeat="item in data" value="{{item.id}}">{{item.descripcion}}</option>
                           <!-- <option>cancha</option>  --> 
                          </select>
                        </div>
                      </div>
                     
                      

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="submit">AGREGAR</button>
                        
                            <!--<button class="btn btn-primary" type="submit">Guardar</button>-->
                        </div>
                      </div>

                    </form>
                  </div>
                      
                      
                      
                      <div class=" col-md-12" style="margin-top:50px;">
                           
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr>   
                                            <th class="column-title">Día Reserva</th>
                                            <th class="column-title">Desde </th>
                                            <th class="column-title">Hasta </th>
                                            <th class="column-title">Areas </th>
                                             <th width="10%" class="column-title"> </th>                       
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tr ng-repeat="tarea in tareas" ng-model="tarea.hecho">
                                            <td style="width:40px">{{tarea.texto}}</td>
                                            <td style="width:40px">{{tarea.texto2}}</td>
                                            <td style="width:40px">{{tarea.texto3}}</td>
                                            <td style="width:40px">{{tarea.text4}}</td>
                                            <td class="text-center">
                                                <button class="hecho-{{tarea.hecho}} btn btn-danger" ng-click="eliminarTarea(tarea)">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
				            </div>
                                
                             <button class="btn btn-primary" ng-click="insertarReserva()">RESERVAR</button>

                        </div>
                    </div>
                      
                      
                      
                  </div>      
                </div>
              </div> 
            </div>
            
            
            <!----------------------  FIN ROW------------------------------------->
              <!----------------------  FIN ROW------------------------------------->
            <!--<div class="row">
                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                        <div class=" col-md-10 col-md-offset-1">
                            <div ng-controller="controlarTareas">
                                <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
								<thead>
									<tr>   
                                        <th class="column-title">Día Reserva</th>
                                        <th class="column-title">Desde </th>
                                        <th class="column-title">Hasta </th>
                                        <th class="column-title">Areas </th>
                                         <th width="10%" class="column-title"> </th>                       
									</tr>
								</thead>
								<tbody>
									 <tr ng-repeat="tarea in tareas" ng-model="tarea.hecho">
										<td style="width:40px">{{tarea.texto}}</td>
										<td style="width:40px">{{tarea.texto2}}</td>
                                        <td style="width:40px">ok</td>
                                        <td style="width:40px">ok</td>
                                        <td class="text-center">
											<button class="btn btn-primary" ng-click="CancelarPreReserva(item.id)">Eliminar</button>
										</td>
                                    </tr>
								</tbody>
							</table>
							 </div>
                
                            <ul class="list-unstyled">
                                <li ng-repeat="tarea in tareas">
                                    <input type="checkbox" ng-model="tarea.hecho">
                                    
    
                                    <span class="hecho-{{tarea.hecho}}" ng-click="eliminarTarea(tarea)">{{tarea.texto}}</span>
                                     <span class="hecho-{{tarea.hecho}}" ng-click="eliminarTarea(tarea)">{{tarea.texto}}</span>
                                </li>
                            </ul>
                           <form  class="form-horizontal form-label-left" ng-submit="agregarTarea()">
                               <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                  <input id="fecha" type="date" class="form-control" placeholder="Default Input"  ng-model="fechaA">
                                </div>
                              </div>  
                                <input type="text" ng-model="nuevaTarea" placeholder="agregarNuevaTarea">
                                <input type="text" ng-model="nuevaTarea2" placeholder="agregarNuevaTarea2">
                                <button class="btn btn-primary" type="submit">AGREGAR</button>
                            </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            
            
            </div>
        </div>
        <!-- /page content -->
<script>
    
    <script type="text/javascript>
document.getElementById('estado').value = 'LIBRES';

</script>

<div footer></div>